<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GroupChat</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" media="screen">

</head>
<body>
    <div id="tupac" class ="">
        <div id="chatroom">

        </div>
        <form action="" class='wat'>
            <input type="text" name="new_message" id="add_message">
            <input type="submit" id='submit' value="Add">
        </form>
    </div>
</body>
</html>